{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Crop Image Free: ImageFix {% endblock %}
{% block head %}
{% endblock %}
{% block content %}

<div class="card-columns">
    <div class="card bg-default">
        <div class="card-body text-left">
            <img id="id_image_preview" src="{% static 'judge/default-avatar.png' %}" alt="" class="img-thumbnail" />
            {% if form.instance.processed_img %}
            <div class="form-group text-center">
                <a href="{{form.instance.processed_img.url}}" download>
                    <span class="btn btn-success">Download</span>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="card bg-default">
        <div class="card-body text-left">
            <div class="alert alert-success">
                <strong>Select Image | Crop Image</strong>
            </div>
            <form method="POST" enctype="multipart/form-data" id="id_form_crop_image">
                {% csrf_token %}
                {{form|crispy}}
            </form>
            <!-- {% if form.instance.processed_img %}
            <hr>
            <b>Output Image Details :</b>
            <table class="table table-bordered  text-left">
                <thead>
                    <tr>
                        <th>Format</th>
                        <th>Width</th>
                        <th>Height</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{form.instance.out_format}}</td>
                        <td>{{form.instance.out_width}} px</td>
                        <td>{{form.instance.out_height}} px</td>
                        <td>{{form.instance.out_size}} kB</td>
                    </tr>
                </tbody>
            </table>
            {% endif %} -->
        </div>
    </div>
</div>
<b>How to crop an image</b>
<br>
<ul>
    <li>Select the image : Image can of any format JPEG, JPG, PNG.</li>
    <li>A popup will appear.</li>
    <li>Select the area which you want to crop.</li>
    <li>Click crop button below the pop and wait for the system to process your image.</li>
    <li>Click Download.</li>
</ul>
<div class="modal fade" id="modalCrop">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Crop the photo</h4>
            </div>
            <div class="modal-body" style="overflow-x: auto;">
                <img src="" id="id_modal_image" style="max-width: 100%;">
            </div>
            <div class="modal-footer">
                <div class="btn-group pull-left" role="group">
                    <button type="button" class="btn btn-default js-zoom-in">
                        <i class="fas fa-search-plus"></i>
                    </button>
                    <button type="button" class="btn btn-default js-zoom-out">
                        <i class="fas fa-search-minus"></i>

                    </button>
                </div>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success js-crop-and-upload">Crop</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<script src="https://unpkg.com/cropperjs/dist/cropper.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://unpkg.com/cropperjs/dist/cropper.css" crossorigin="anonymous">
<script type="text/javascript" src="https://fengyuanchen.github.io/jquery-cropper/js/jquery-cropper.js"></script>

<script>
    $(function () {

        /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
        $("#id_processed_img").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#id_modal_image").attr("src", e.target.result);
                    $("#modalCrop").modal("show");
                }
                reader.readAsDataURL(this.files[0]);
            }
        });

        var $image = $("#id_modal_image");
        var cropBoxData;
        var canvasData;
        $("#modalCrop").on("shown.bs.modal", function () {
            $image.cropper({
                viewMode: 1,
                minCropBoxWidth: 200,
                minCropBoxHeight: 200,
                ready: function () {
                    $image.cropper("setCanvasData", canvasData);
                    $image.cropper("setCropBoxData", cropBoxData);
                }
            });
        }).on("hidden.bs.modal", function () {
            cropBoxData = $image.cropper("getCropBoxData");
            canvasData = $image.cropper("getCanvasData");
            $image.cropper("destroy");
        });

        // Enable zoom in button
        $(".js-zoom-in").click(function () {
            $image.cropper("zoom", 0.1);
        });

        // Enable zoom out button
        $(".js-zoom-out").click(function () {
            $image.cropper("zoom", -0.1);
        });
        /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
        $(".js-crop-and-upload").click(function () {
            var cropData = $image.cropper("getData");
            $("#id_x").val(cropData["x"]);
            $("#id_y").val(cropData["y"]);
            $("#id_height").val(cropData["height"]);
            $("#id_width").val(cropData["width"]);
            $("#id_form_crop_image").submit();
        });

    });

    {% if form.instance.processed_img %}
    $('#id_image_preview').attr('src', '{{form.instance.processed_img.url}}');
    {% endif %}

</script>
{% endblock %}