{% extends 'base.html' %} {% block title %}Resize, Compress, Images to Pdf, Add Name|Dob to Photos{% endblock %} {% block head %}
<meta name="description" content="Imagefix is a free tool for resizing images by size(in KB, MB) and by height & width in pixels, 
add name and date of birth to the photo, convert several images into a pdf, crop images and for changing image formats!" />
<meta name="keywords" content="compress image, resize image, reduce image size, change image dimensions, reduce image to 20kb, 50kb,
change image height & width, convert image to pdf, make pdf from images, change image format, png to jpg, jpg to png, jpeg to png,
add name to photo, add date of birth to photo, change image extension," /> {% endblock %} {% block content %}

<div class="card-columns">
    <div class="card bg-default text-center">
        <a href='/resize-by-pixel/'>
            <div class="card-body">
                <br>
                <i class="fas fa-map-pin"></i>
                <h4 class="card-title">Resize by Pixels</h4>
            </div>
        </a>
    </div>
    <div class="card bg-default text-center">
        <a href='/compress-image/'>
            <div class="card-body">
                <br>
                <i class="fas fa-compress"></i>
                <h4 class="card-title">Compress Image</h4>
            </div>
        </a>
    </div>
    <div class="card bg-default text-center">
        <a href='/create-name-dob/'>
            <div class="card-body">
                <br>
                <i class="fas fa-plus"></i>
                <h4 class="card-title">Add Name|DOB</h4>
            </div>
        </a>
    </div>
    <div class="card bg-default text-center">
        <a href='/image-to-pdf/'>
            <div class="card-body">
                <br>
                <i class="fas fa-image"></i>
                <h4 class="card-title">Image to Pdf</h4>
            </div>
        </a>
    </div>
    <div class="card bg-default text-center">
        <a href='/crop-image/'>
            <div class="card-body">
                <br>
                <i class="fas fa-crop"></i>
                <h4 class="card-title">Crop Image</h4>
            </div>
        </a>
    </div>
    <div class="card bg-default text-center">
        <a href='/change-format/'>
            <div class="card-body">
                <br>
                <i class="fas fa-exchange-alt"></i>
                <h4 class="card-title">Change Format</h4>
            </div>
        </a>
    </div>


    <div class="card bg-default text-center">
        <a href='/contact-us/'>
            <div class="card-body">
                <br>
                <i class="fas fa-bug"></i>
                <h4 class="card-title">Report Bug</h4>
            </div>
        </a>
    </div>
    <div class="card bg-default text-center">
        <a href='/contact-us/'>
            <div class="card-body">
                <br>
                <i class="fas fa-user-ninja"></i>
                <h4 class="card-title">Request Feature</h4>
            </div>
        </a>
    </div>
    <div class="card bg-default text-center">
        <a href='/privacy-policy/'>
            <div class="card-body">
                <br>
                <i class="fas fa-key"></i>
                <h4 class="card-title">Privacy Policy</h4>
            </div>
        </a>
    </div>
</div>

{% endblock %}